.card{
    border: 1px solid black;
    width:400px;
    text-align: center;
    margin: 30px;
    box-shadow: 10px 10px #223162;
    transition: all 0.3s ease-in-out;
    background-color: #224562;
    color: aliceblue;
}
.card:hover{
    transform: scale(1.09);
}
.card-list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  
}

ul li {
    list-style: none;
}